<% if(productos.length > 0){ %>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
    <div class="card" style="width: 18rem;">
    <% for (const producto of productos) {%>
        <img src="<%=producto.foto%>" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title"><%=producto.nombre%></h5>
            <p class="card-text">Código:<%=producto.codigo%> - <%=producto.timestamp%></p>
            <p class="card-text"><%=producto.descripcion%></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Stock: <%=producto.stock%></li>
            <li class="list-group-item"><b>$<%=producto.precio%></b></li>
        </ul>
        <a class="btn btn-primary">Modificar</a>
        <%};%>
    </div></div></div>
<%};%>